{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "globals": {
    "beforeEach": true,
    "expect": true,
    "jest": true,
    "test": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}

